Types: deb
URIs: https://www.collaboraoffice.com/repos/CollaboraOnline/CODE-{{ ansible_lsb.id | lower }}{{ ansible_lsb.release | replace('.','') }}
Suites: ./
Signed-By: /usr/share/keyrings/collaboraonline-release-keyring.gpg